.todo-list {
  list-style: none;
}

li {
  position: relative;
  background-color: #fff;
  padding: 0px 3em;
  font-size: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  font-weight: 300;
  -webkit-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
  box-sizing: content-box;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
}
